*{
		margin:0px;
	padding: 0px;
}
body ul li{
	list-style-type: none;
	display: inline-block;
}
.head{
	background-color: #fcdb00;
}
.a{
	margin-bottom: 15px;
	margin-top: 20px;
}
.b{
	margin-bottom: 30px;
}
div#bs-example-navbar-collapse-1 {
    margin-top: 15px;
}
.navbar-right {
    margin-right: 10% !important;
}
.navbar-nav li{
	margin-right: 70px;
	font-weight: bold;
	color: black !important;
}

.navbar-nav li a{
	color: black;
}
.navbar-nav li a:hover {
    background-color: transparent !important;
}
.navbar-nav li a:focus {
    background-color: transparent !important;
}
.corosal{
	max-width: 400px;
	margin-top: 20%;
}
.corosal h3{
	color: black;
	font-weight: bold;
	font-size: 32px;
}
.corosal p:nth-of-type(1){
	font-weight: 300;
	font-size: 20px;
	color: #313841;
	line-height: 20px;

}
.corosal p:nth-of-type(2){
	color: #555555;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 20px;
}
.corosal ul li{
	margin-right: 20px;
}

.navbar-toggle .icon-bar {
    background: white;
}
.featur{
	max-width: 550px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
}
.featur h3{
	font-weight: bold;
}

.keep{
	max-width: 550px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
}
.keep h3{
	font-weight: bold;
	color: #fcdb00;
}
.keep p{
	color: #898989;
}
.keep .btn{
	background-color: #fcdb00;
	padding: 6px 22px;
}
.keep ul li{
	margin-right: 20px;
}
.keep img{
	width: 60%;
}
.imag{
	float: left;
	max-width: 30%;
	padding-right: 20px;
}
.content_text{
	float: left;
	max-width: 70%;
}

.mid h5{
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}
.mid p{
	color: #898989;
}
.mid_con1{
	margin-bottom: 70px;
	max-width: 1050px;
}
.bot{
	margin-bottom: 40px;
}
footer{
	background-color: #010101;
}
.add{
	color: white;
	margin-bottom: 50px;
}
.add p{
	line-height: 10px;
}


input#inlineFormInput {
    width: 416px;
    margin-right: 10px;
}



@media (max-width: 767px){
	.navbar-toggle {
    background: #99b5d7;
}
.navbar-toggle{
	margin-top: 23px;
    margin-bottom: 0px;
}
input#inlineFormInput{
	width: 100%;
	margin-bottom: 10px;
}
.mid_con1{
	max-width: 300px;
	margin: 0 auto;
}

.add{
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}
.add_bot{
	margin-bottom: 20px;
}

.imag{
	float: left;
	max-width: 20%;
	padding-right: 20px;
}
.content_text{
	float: left;
	max-width: 80%;
}

}

@media (min-width: 500px)  and ( max-width: 992px){
	.corosal{
		max-width:280px;
	}
	.corosal h3{
		font-size: 20px;
	}
	.corosal p:nth-of-type(1){
		font-size:15px;
	}
	.corosal p:nth-of-type(2){
		font-size: 10px;
	}
}
@media (min-width: 380px) and (max-width: 499px){
	.corosal h3{
		    font-size: 15px;
	}
	.corosal p:nth-of-type(1){
		    font-size: 10px;
    line-height: 13px;
	}
	.corosal p:nth-of-type(2){
	    font-size: 9px;
    line-height: 10px;
	}
	.corosal ul li {
    margin-right: 8px;
    width: 20%;
}

}
@media (min-width: 320px) and (max-width: 380px){
	.corosal h3{
		    font-size: 11px;
	}
	.corosal p:nth-of-type(1){
		    font-size: 9px;
    line-height: 10px;
	}
	.corosal p:nth-of-type(2){
	    font-size: 7px;
    line-height: 10px;
	}
	.corosal ul li {
    margin-right: 8px;
    width: 15%;
}
}

